<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PeopleCounter!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
  function doSubmit(){
    // Form Data
    var formData = new FormData();
    var fileSelect = document.getElementById("fileSelect");
    if(fileSelect.files && fileSelect.files.length == 1){
     var file = fileSelect.files[0]
     formData.set("file", file , file.name);
    }
    // Http Request
   $.ajax({
       url: 'http://127.0.0.1:8000/getPeopleCount',
       type: 'POST',
       data: formData,
       async: false,
       cache: false,
       contentType: false,
       enctype: 'multipart/form-data',
       processData: false,
       success: function (response) {
         $(".output").show();
         $("pre").text(JSON.stringify(response, null, '\t'));
         $("#userImage").attr('src', response.data.outputImageUrl);
       },
       error: function(error){
       alert(error.responseJSON.data.message);
       }
   });
  }
</script>
</head>
<body>
<h1>PeopleCounter!</h1>
<form>
    <div>
        <input type="file" id="fileSelect"/>
        <button type="button" onclick="doSubmit()">Submit</button>
    </div>
    </br>
     <div class="output" style="display:none">
        <div>
            <span>API Response:</span>
        </div>
        </br>
        <div>
            <pre></pre>
        </div>
    </div>
    </br>
    <div class="output" style="display:none">
        <div>
            <span>Output image:</span>
        </div>
        </br>
        <div>
            <img id="userImage"></img>
        </div>
    </div>
</form>
</body>
</html>